<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>TOC-Tech</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex justify-content-between">
        <div class="logo">
          <h1><a href="index.html">TOC-Tech</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">Introduction</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Welcome to TOC-Tech</h1>
        <h2>Exploring the world of computation</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
              <img
                src="../static/assets/img/dfa_img.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
              <h3 data-aos="fade-up">Introduction</h3>
              <p data-aos="fade-up">
                The theory of computation is a branch of computer science that
                seeks to understand the nature of computation. It deals with
                questions about what can be computed, how efficiently it can be
                computed, and what problems can or cannot be solved by
                computers. Automata theory is a central part of the theory of
                computation. It studies abstract machines or models of
                computation, such as finite automata, pushdown automata, and
                Turing machines. These machines are used to represent and
                analyze algorithms and computational processes. Formal languages
                are also important in the theory of computation. They are used
                to describe the syntax and semantics of programming languages,
                as well as the patterns and structures of strings that can be
                recognized by automata. Regular expressions and context-free
                grammars are examples of formal languages used in this context.
                Computability theory, another key area, examines the limitations
                of computation. It deals with the concept of computability,
                which refers to the ability to solve a problem using an
                algorithm. The halting problem and the Church-Turing thesis are
                fundamental concepts in computability theory. Complexity theory
                is concerned with analyzing the resources required to solve
                computational problems. It studies the time and space complexity
                of algorithms, as well as the inherent difficulty of
                computational problems. Classes such as P, NP, and NP-complete
                are used to classify problems based on their complexity.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Steps Section ======= -->
      <section id="steps" class="steps section-bg">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
              <span>01</span>
              <h3>Deterministic Finite Automata</h3>
              <p>
                A Deterministic Finite Automaton (DFA) is a mathematical model
                that represents a finite state machine. DFAs are used in
                computer science and mathematics to define a set of states and
                transitions between those states.
              </p>
              <br />
              <ul class="mx-3">
                <b> DFAs are defined by a five-tuple:</b>
                <li><b>Q: A finite, nonempty set of states</b></li>
                <li><b>Σ: The data alphabet</b></li>
                <li><b>δ: The transition function or finite control</b></li>
                <li><b>q: The initial state or start state</b></li>
                <li><b>F: The set of accepting states</b></li>
              </ul>
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-in"
              data-aos-delay="100"
            >
              <span>02</span>
              <h3>Non-Deterministic Finite Automata</h3>
              <p>
                A nondeterministic finite automaton (NFA) is a formal automaton
                that can have multiple possible next states from a single state.
                It reads an input string and transitions between states
                accordingly. The NFA accepts the string if at least one sequence
                of transitions leads to an accepting state
              </p>
              <br />
              <ul class="mx-3">
                <b> NFAs are defined by a five-tuple:</b>
                <li><b>Q: A finite, nonempty set of states</b></li>
                <li><b>Σ: The data alphabet</b></li>
                <li><b>δ: The transition function or finite control</b></li>
                <li><b>q: The initial state or start state</b></li>
                <li><b>F: The set of accepting states</b></li>
              </ul>
            </div>

            <div
              class="col-lg-4 col-md-6 content-item"
              data-aos="fade-in"
              data-aos-delay="200"
            >
              <span>03</span>
              <h3>Epsilon-NFA</h3>
              <p>
                An epsilon nondeterministic finite automaton (NFA) is a part of
                Finite Automata. It allows an automaton to change its state
                without input. The symbol "epsilon" (ε) refers to a transition
                that doesn't require any input or an empty string
              </p>
              <br />
              <ul class="mx-3">
                <b>E-NFAs are defined by a five-tuple:</b>
                <li><b>Q: A finite, nonempty set of states</b></li>
                <li><b>Σ: The data alphabet</b></li>
                <li><b>δ: The transition function or finite control</b></li>
                <li><b>q: The initial state or start state</b></li>
                <li><b>F: The set of accepting states</b></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Steps Section -->

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Steps for Creating a Graphviz Representation of a DFA</b>
            </h1>
            <ol class="list-group list-group-numbered">
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(13, 164, 219); color: white"
              >
                Create a Graphviz object: The function starts by creating a new
                Graphviz object (graph) with the specified output format
                ('png'). This object will be used to represent the DFA
                graphically.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(13, 164, 219); color: white"
              >
                Add nodes for states: For each state in the DFA, the function
                adds a node to the graph. It uses the state number as the node
                name and determines the shape of the node based on whether the
                state is an accepting state or not. Accepting states are
                represented with a 'doublecircle' shape, while non-accepting
                states are represented with a 'circle' shape.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(13, 164, 219); color: white"
              >
                Add edges for transitions: Next, the function iterates over each
                transition in the DFA and adds an edge to the graph. It uses the
                'label' parameter to display the input symbol for the
                transition. If the input symbol is the empty string ('λ'), it
                displays 'ε' instead. Each edge connects the current state to
                the next state based on the transition.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(13, 164, 219); color: white"
              >
                Highlight the start state: The function highlights the start
                state of the DFA by adding a filled node with a light blue
                color. This helps visually identify the start state in the
                graph.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(13, 164, 219); color: white"
              >
                Return the Graphviz object: Finally, the function returns the
                completed Graphviz object representing the DFA. This object can
                be further processed or rendered to generate a graphical
                representation of the DFA using Graphviz tools.
              </li>
              <br />
            </ol>

            <form action="/dfa_visualize" method="POST">
              <h1 class="text-dark" style="font-size: 50px">
                Let's try Visualising
              </h1>
              <br />
              <!-- Default: DFA to accept substring "aba" -->
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the states (comma-separated):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="states"
                  value="q0, q1, q2, qf"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the input alphabets:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="alphabets"
                  value="a, b"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the transitions (semicolon-separated):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="transitions"
                  value="q0, a, q1; q0, b, q0; q1, a, q1; q1, b, q2; q2, a, qf; q2, b, q0; qf, a, qf; qf, b, qf"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the start state:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="start"
                  value="q0"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the final state(s):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="final"
                  value="qf"
                />
              </div>
              <!-- Input string -->
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter an example input string:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="input_string"
                  value="ababab"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Display Results:
          dfa_visualization=f"{save_path_dfa}.png",
          dfa_path_visualization=f"{save_path_trace}.png",
          accepted=accepted, path=path
        -->
        {% if dfa_visualization %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">DFA Visualization:</label>
              <img
                src="{{ dfa_visualization }}"
                alt="DFA Visualization"
                class="img-fluid"
              />
              <br />
              <label class="form-label text-dark"
                >DFA Path Visualization:</label
              >
              <img
                src="{{ dfa_path_visualization }}"
                alt="DFA Path Visualization"
                class="img-fluid"
              />
              <br />
              <label class="form-label text-dark">Accepted:</label>
              <p>{{ accepted }}</p>
              <br />
              <label class="form-label text-dark">Path:</label>
              <p>{{ path }}</p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Steps for Creating a Graphviz Representation of a NFA</b>
            </h1>
            <ol class="list-group list-group-numbered">
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
                Create a Graphviz object: The function starts by creating a new
                Graphviz object (graph) with the specified output format
                ('png'). This object will be used to represent the NFA
                graphically.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
                Add nodes for states: For each state in the NFA, the function
                adds a node to the graph. It uses the state number as the node
                name and determines the shape of the node based on whether the
                state is an accepting state or not. Accepting states are
                represented with a 'doublecircle' shape, while non-accepting
                states are represented with a 'circle' shape.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
                Add edges for transitions: Next, the function iterates over each
                transition in the NFA and adds an edge to the graph. It uses the
                'label' parameter to display the input symbol for the
                transition. If the input symbol is the empty string ('λ'), it
                displays 'ε' instead. For NFAs, transitions can lead to multiple
                next states, so the function creates an edge for each next
                state.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
                Highlight the start state: The function highlights the start
                state of the NFA by adding a filled node with a light blue
                color. This helps visually identify the start state in the
                graph..
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
                Return the Graphviz object: Finally, the function returns the
                completed Graphviz object representing the NFA. This object can
                be further processed or rendered to generate a graphical
                representation of the NFA using Graphviz tools.
              </li>
              <br />
            </ol>

            <form action="/nfa_visualize" method="POST">
              <h1 class="text-dark" style="font-size: 50px">
                Let's try Visualising
              </h1>
              <br />
              <!-- Default: NFA: 0*1* -->
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the states (comma-separated):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="states"
                  value="q0, q1"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the input alphabets:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="alphabets"
                  value="0, 1"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the transitions :</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="transitions"
                  value="q0, 0, q0; q0, 1, q1; q1, 1, q1"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the start state:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="start"
                  value="q0"
                />
              </div>
              <br />

              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the final state(s):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="final"
                  value="q0, q1"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Display Results:
          result=True,
          nfa_visualization=f"{save_path_nfa}.png",
          nfa_to_dfa_visualization=f"{save_path_dfa}.png"
        -->
        {% if nfa_visualization %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">NFA Visualization:</label>
              <img
                src="{{ nfa_visualization }}"
                alt="NFA Visualization"
                class="img-fluid"
              />
              <br />
              <label class="form-label text-dark"
                >NFA to DFA Visualization:</label
              >
              <img
                src="{{ nfa_to_dfa_visualization }}"
                alt="NFA to DFA Visualization"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Steps for Creating a Graphviz Representation of a E-NFA</b>
            </h1>
            <ol class="list-group list-group-numbered">
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(64, 163, 7); color: white"
              >
                Create a Graphviz object: The function starts by creating a new
                Graphviz object (graph) with the specified output format
                ('png'). This object will be used to represent the E-NFA
                graphically.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(64, 163, 7); color: white"
              >
                Add nodes for states: For each state in the E-NFA, the function
                adds a node to the graph. It uses the state number as the node
                name and determines the shape of the node based on whether the
                state is an accepting state or not. Accepting states are
                represented with a 'doublecircle' shape, while non-accepting
                states are represented with a 'circle' shape.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(64, 163, 7); color: white"
              >
                Add edges for transitions: Next, the function iterates over each
                transition in the NFA and adds an edge to the graph. It uses the
                'label' parameter to display the input symbol for the
                transition. If the input symbol is the empty string ('λ'), it
                displays 'ε' instead. For E-NFAs, transitions can lead to
                multiple next states, so the function creates an edge for each
                next state.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(64, 163, 7); color: white"
              >
                Highlight the start state: The function highlights the start
                state of the E-NFA by adding a filled node with a light blue
                color. This helps visually identify the start state in the
                graph..
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(64, 163, 7); color: white"
              >
                Return the Graphviz object: Finally, the function returns the
                completed Graphviz object representing the NFA. This object can
                be further processed or rendered to generate a graphical
                representation of the E-NFA using Graphviz tools.
              </li>
              <br />
            </ol>

            <form action="/enfa_visualize" method="POST">
              <h1 class="text-dark" style="font-size: 50px">
                Let's try Visualising
              </h1>
              <br />
              <!-- Default: E-NFA: 0*1*2* -->
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the states (comma-separated):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="states"
                  value="q0, q1, q2"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the input alphabets:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="alphabets"
                  value="0, 1, 2"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the transitions (λ for epsilon):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="transitions"
                  value="q0, 0, q0; q0, λ, q1; q1, 1, q1; q1, λ, q2; q2, 2, q2"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the start state:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="start"
                  value="q0"
                />
              </div>
              <br />

              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the final state :</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="final"
                  value="q2"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!-- Display Results:
          epsilon_closures=e_nfa['epsilon_closures'],
          enfa_visualization=f"{save_path_enfa}.png"
        -->
        {% if enfa_visualization %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">E-NFA Visualization:</label>
              <img
                src="{{ enfa_visualization }}"
                alt="E-NFA Visualization"
                class="img-fluid"
              />
            </div>
            <div class="mb-3">
              <label class="form-label text-dark">Epsilon Closures:</label>
              <p>{{ epsilon_closures }}</p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>



      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Steps for converting DFA to Regular Grammar</b>
            </h1>
            <ol class="list-group list-group-numbered">
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
              The function convert_dfa_to_rg converts a Deterministic Finite Automaton (DFA) to a Regular Grammar (RG).
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
              It takes a dictionary dfa representing the DFA with keys 'states', 'alphabet', 'transitions', 'start_state', and 'accept_states'.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
              The output is a dictionary representing the RG with keys 'variables', 'terminals', 'productions', and 'start_variable'.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
              For each state in the DFA, the function creates productions in the RG based on transitions and accepting states.
              </li>
              <br />
              <li
                class="list-group-item list-group-item-light"
                style="background-color: rgb(181, 89, 238); color: white"
              >
              It handles non-empty transitions by appending the symbol and the next state to the production.
              It handles empty transitions by appending just the symbol to the production.
              It adds an epsilon production for final states in the DFA.
              The RG produced by the function represents a grammar equivalent to the input DFA
              </li>
              <br />
            </ol>

            <form action="/rg_visualize" method="POST">
              <h1 class="text-dark" style="font-size: 50px">
                Let's try Visualising
              </h1>
              <br />
              <!-- Default: NFA: 0*1* -->
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the states (comma-separated):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="states"
                  value="q0, q1, q2, qf"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the input alphabets:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="alphabets"
                  value="a, b"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the transitions :</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="transitions"
                  value="q0, a, q1; q1, b, q2; q2, a, qf"
                />
              </div>
              <br />
              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the start state:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="start"
                  value="q0"
                />
              </div>
              <br />

              <div class="mb-3">
                <label class="form-label text-dark"
                  >Enter the final state(s):</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="final"
                  value="qf"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        {% if dfa_visualization_conv %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">DFA Visualization:</label>
              <img
                src="{{ dfa_visualization_conv }}"
                alt="DFA Visualization"
                class="img-fluid"
              />
              <br />
              
            </div>
          </div>
        </div>
        {% endif %}
        {% if rg_visualization_conv %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">Regular Grammar Visualization:</label>
              <img
                src="{{ rg_visualization_conv }}"
                alt="DFA Visualization"
                class="img-fluid"
              />
              <br />
              
            </div>
          </div>
        </div>
        {% endif %}
       
        <!-- Regular grammar input -->

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 bg-blue p-4">
              <h1 class="text-dark text-center" style="font-size: 20px">
                <b>Steps for converting Regular grammar to DFA </b>
              </h1>
              <ol class="list-group list-group-numbered">
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(64, 163, 7); color: white"
                >
                Initialize the DFA dictionary with empty lists for states and accept states, the RG terminals as the alphabet, the start variable of the RG as the start state, and an empty transitions dictionary.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(64, 163, 7); color: white"
                >
                  Add it to processed_states.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(64, 163, 7); color: white"
                >
                For each symbol in the alphabet:
                Find the next state by checking RG productions.
                If the next state is not in the union of processed_states and unprocessed_states, add it to unprocessed_states.
                Add the transition to the transitions dictionary.
                If the next state is an empty string, add the current state to the accept states of the DFA.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(64, 163, 7); color: white"
                >
                Set the states of the DFA to the list of processed states.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(64, 163, 7); color: white"
                >
                Return the DFA dictionary.
                </li>
                <br />
              </ol>
  
              <form action="/rg_dfa_visualize" method="POST">
                <h1 class="text-dark" style="font-size: 50px">
                  Let's try Visualising
                </h1>
                <br />
                <!-- Default: E-NFA: 0*1*2* -->
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the list of variables:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="variables"
                    value="S"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the list of terminals:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="terminals"
                    value="a, b"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the productions:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="productions"
                    value="S, aS, bS, λ"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the start variable:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="start"
                    value="S"
                  />
                </div>
                <br />
  
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          {% if rg_visualization_rev %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">Regular Grammar Visualization:</label>
              <img
                src="{{ rg_visualization_rev }}"
                alt="DFA Visualization"
                class="img-fluid"
              />
              <br />
              
            </div>
          </div>
        </div>
        {% endif %}

        {% if dfa_visualization_rev %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">DFA Visualization:</label>
              <img
                src="{{ dfa_visualization_rev }}"
                alt="DFA Visualization"
                class="img-fluid"
              />
              <br />
              
            </div>
          </div>
        </div>
        {% endif %}



        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 bg-blue p-4">
              <h1 class="text-dark text-center" style="font-size: 20px">
                <b>Steps for Creating a Graphviz Representation of a PDA</b>
              </h1>
              <ol class="list-group list-group-numbered">
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(13, 164, 219); color: white"
                >
                Initialize a Graphviz Digraph object to represent the PDA.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(13, 164, 219); color: white"
                >
                Add nodes for each state, with accepting states represented as double circles.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(13, 164, 219); color: white"
                >
                Add edges for transitions, where each edge represents a transition from one state to another based on the input symbol and stack symbol. If there are multiple next states for a transition, create separate edges for each next state.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(13, 164, 219); color: white"
                >
                Highlight the start state node by changing its shape and color.
                </li>
                <br />
                <li
                  class="list-group-item list-group-item-light"
                  style="background-color: rgb(13, 164, 219); color: white"
                >
                Return the Graphviz object representing the PDA.
                </li>
                <br />
              </ol>
  
              <form action="/pda_visualize" method="POST">
                <h1 class="text-dark" style="font-size: 50px">
                  Let's try Visualising
                </h1>
                <br />
                <!-- Default: DFA to accept substring "aba" -->
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the states (comma-separated):</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="states"
                    value="q0, q1, qf"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the input alphabets:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="alphabets"
                    value="a, b"
                  />
                </div>
                <br/>
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the stack alphabet:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="stack_alphabet"
                    value="a, Z"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the transitions (semicolon-separated):</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="transitions"
                    value="q0, a, Z, q0, aZ; q0, a, a, q0, aa; q0, b, a, q1, ε; q1, b, a, q1, ε; q1, ε, Z, qf, Z"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the start state:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="start"
                    value="q0"
                  />
                </div>
                <br />

                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the start stack symbol:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="start_stack"
                    value="Z"
                  />
                </div>
                <br />
                <div class="mb-3">
                  <label class="form-label text-dark"
                    >Enter the final state(s):</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="final"
                    value="qf"
                  />
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          {% if pda_visualization %}
        <div class="row justify-content-center">
          <div class="col-8 bg-blue p-4">
            <h1 class="text-dark text-center" style="font-size: 20px">
              <b>Results</b>
            </h1>
            <div class="mb-3">
              <label class="form-label text-dark">PDA Visualization:</label>
              <img
                src="{{ pda_visualization }}"
                alt="DFA Visualization"
                class="img-fluid"
              />
              <br />
              
            </div>
          </div>
        </div>
        {% endif %}



    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>TOC-Tech</h3>
                <p>
                  <strong>Phone:</strong> +91 6360858044<br />
                  <strong>Email:</strong> test@gmail.com<br />
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a href="#" class="instagram"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a href="#" class="google-plus"
                    ><i class="bx bxl-skype"></i
                  ></a>
                  <a href="#" class="linkedin"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 m-50 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>The Energy Equation</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
